{% extends "base.html" %}
{% from "macros.html" import errors %}

{% block title %}Проект — Projects cloud{% endblock %}

{% block content %}
    <div class="card text-white text-center my-dark div-center">
        <div class="card-header"><h2>{{ 'Добавить проект' if request.endpoint == 'main.create_project' else 'Редактировать проект' }}</h2></div>
        <div class="card-body">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {% for f in [form.title, form.description, form.youtube, form.github] %}
                    <div class="form-group mb-4">
                        {{ f(class="form-control", placeholder=f.label.text) }}
                        {{ errors(f) }}
                    </div>
                {% endfor %}
                <div class="form-group mb-4">
                    {{ form.category.label(class="mb-2") }}
                    {{ form.category(class="selectpicker dropdown-center w-100") }}
                    {{ errors(form.category) }}
                </div>
                {{ form.submit(type="submit", class="btn btn-warning btn-lg w-100 mb-2") }}
            </form>
        </div>
    </div>
{% endblock %}
