{% extends "base.html" %}
{% from "macros.html" import errors %}

{% block title %}Вход — Projects cloud{% endblock %}

{% block content %}
    <div class="card text-white text-center my-dark div-center">
        <div class="card-header"><h2>Авторизация</h2></div>
        <div class="card-body">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {% for f in [form.email, form.password] %}
                    <div class="form-group mb-4">
                        {{ f(class="form-control", placeholder=f.label.text) }}
                        {{ errors(f) }}
                    </div>
                {% endfor %}
                <div class="form-check-inline mb-4">
                    {{ form.remember_me() }} {{ form.remember_me.label }}
                </div>
                {{ form.submit(type="submit", class="btn btn-warning btn-lg w-100 mb-2") }}
            </form>
            <small class="text-secondary">
                Нет аккаунта? <a href="{{ url_for('main.register') }}" class="text-warning">Зарегистрироваться</a>
            </small>
        </div>
    </div>
{% endblock %}
