{% extends "base.html" %}
{% from "macros.html" import errors %}

{% block title %}Профиль — Projects cloud{% endblock %}

{% block content %}
    <div class="card text-white text-center my-dark div-center">
        <div class="card-header"><h2>Изменить профиль</h2></div>
        <div class="card-body">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group mb-4">
                    {{ form.place.label(class="mb-1") }}<br>
                    {{ form.place(class="selectpicker", **{'data-live-search': 'true',
                    'data-live-search-placeholder': 'Поиск'}) }}
                    {{ errors(form.place) }}
                </div>
                {% for f in [form.name, form.surname] %}
                    <div class="form-group mb-4">
                        {{ f(class="form-control", placeholder=f.label.text) }}
                        {{ errors(f) }}
                    </div>
                {% endfor %}
                {{ form.submit(type="submit", class="btn btn-warning btn-lg w-100 mb-2") }}
            </form>
        </div>
    </div>
{% endblock %}
